.card_list {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 33.333%;
    min-width: 33.333%;
    padding-left: 20px;
    padding-bottom: 20px;

    &.empty { width:100%; padding:100px 0 160px; margin-left:20px; text-align:center; font-size:16px; color:var(--main-color3); }
  }

  .item {
    height: 100%;
    padding: 60px 60px 60px 50px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
    transition: 0.35s cubic-bezier(0.25, 1, 0.5, 1);
    display: block;

    .tit { height:128px; white-space:pre-wrap; }
    .date { margin-top:60px; }

    &:hover {
      /* transform:translate(0,-5px); */
      transform: scale(1.01);
    }

    // :has([class*="notice"]) .card_list .item .tit {
    //   height: 128px;
    //   white-space: pre-wrap;
    //  }
  }
}

.main__notice .badge_txt,
.notice__list .badge_txt {
  padding: 0;
  border: 0;
}

:has([class*="notice"],[class*="event"]) [class*="_list"] .tit {
// [class*="main__"] [class*="_list"] .tit {
min-height: 86px;
 line-height: 1.42;
 font-size: 30px;
 font-weight: 500;
 color: var(--main-color2);
 overflow: hidden;
 text-overflow: ellipsis;
 word-break: keep-all;
 word-wrap: break-word;
 display: block;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 white-space:pre-wrap;
}

:has([class*="notice"],[class*="event"]) [class*="_list"] .tit + .date {
// [class*="main__"] [class*="_list"] .tit + .date {
 line-height: 1;
 font-size: 13px;
 color: var(--main-color3);
}

@media(max-width:991px){
  .card_list {
    li { width:50%; min-width:50%; }
    .item { padding:50px 50px 50px 40px;
      .tit { height:110px; font-size:26px; }
      .date { margin-top:40px; }
    }
  }
}
@media(max-width:767px){
  .card_list {
    li { width:100%; min-width:100%;
      .item { padding-top:42px; padding-right:66px;
        .tit { height:auto; line-height:1.52; font-size:22px; }
        .date { margin-top:22px; }
      }
    }
  }
  :has([class*="notice"]) .card_list li:nth-child(n+4) { display:none; }
}