footer {
  height: 250px;
  background-color: var(--main-color1);
  font-weight: 300;
  color: #fff;
}

:has(#container) footer {
  background-color: var(--bg-color);
  font-weight: 400;
  color: var(--main-color2);
}

footer {
  .layout_fix {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .bottom_cont {
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

footer .bottom_cont {
  .layout_fix {
    align-items: center;
  }

  .link li {
    margin-right: 24px;
    font-size: 13px;
    display: inline-block;

    b {
      font-weight: 500;
    }
  }

}

footer {
  .bottom_corp {
    padding: 40px 0; border-top:1px solid rgba(255, 255, 255, 0.1);

    .layout_fix {
      align-items: end;
    }

    .txt {
      line-height: 1.83;
      font-size: 12px;

      span + span::before {
        content: "";
        width: 1px;
        height: 8px;
        margin-right: 8px;
        margin-left: 6px;
        background-color: rgba(255, 255, 255, 0.25);
        display: inline-block;
      }
    }

    .social li {
      width: 32px;
      margin-right: 1px;
      margin-left: 10px;
      display: inline-block;
      filter: brightness(0.5);
    }
  }
}
