* { padding:0; margin:0; font-size:inherit; border:0; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
*, ::after, ::before { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

:root { --main-color1:#00243d; --main-color2:#222; --main-color3:#666; --main-color4:#999; --wt-color:#fff; --bg-color:#f9f9f9; --br-color:#e2e2e2; --red-color:#e61d30; --yw-color:#ffe001; --gr-color:#12b886; }
html { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -ms-overflow-style:scrollbar; -webkit-tap-highlight-color:transparent; }
body { font-family:"Noto Sans KR", "Apple SD Gothic Neo", "AppleGothic", sans-serif; font-size:15px; font-weight:400; color:var(--main-color2); background-color:#fff; letter-spacing:-0.5px; }
html,body { min-width:1280px; }
@media (max-width:991px) { html,body{ min-width:320px; } }
a { color:inherit; text-decoration:none; outline:none; display:inline-block; cursor:pointer; }
ol,ul,li { list-style:none; }
dl { position:relative; }
input,select,textarea { font-family:"Noto Sans KR", "Apple SD Gothic Neo", "AppleGothic", sans-serif; font-size:15px; color:var(--main-color2); border-radius:0; letter-spacing:-0.5px; outline:none; caret-color:var(--main-color2); -webkit-appearance:none; appearance:none; }
input { width:100%; height:50px; padding:0 20px 2px; font-size:15px; background-color:#fff; font-weight:400; color:var(--main-color2); border:1px solid var(--br-color); border-radius:4px; }
input:focus { border:1px solid var(--main-color1); transition:0.25s ease; }
input::placeholder { font-weight:400; color:var(--main-color4); letter-spacing:-0.5px; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance:none; appearance:none; }
input[readonly],input[disabled] { background-color:var(--bg-color); color:var(--main-color3); border:0; cursor:default; }
input[type="checkbox"],input[type="radio"] { display:none; }
input[type="password"] { letter-spacing:3px; }
input[type="number"] { -moz-appearance:textfield; }
select { width:100%; height:48px; padding:10px 40px 10px 16px; background-color:#fff; background:url("/images/arrow_select.png"); background-repeat:no-repeat; background-position:right 15px center; background-size:auto 8px; font-size:15px; font-weight:400; color:var(--main-color2); border:1px solid var(--br-color); border-radius:4px; outline:none; cursor:pointer; }
select::-ms-expand { display:none; }
table { width:100%; border-collapse:separate; border-spacing:0; }
button { font-family:inherit; background:transparent; color:inherit; outline:none; cursor:pointer; }
img { max-width:100%; max-height:100%; vertical-align:top; -webkit-user-drag:none; -khtml-user-drag:none; user-drag:none; -ms-touch-select:none; -ms-touch-action:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -ms-user-select:none; user-select:none; }
span { display:inline-block; }
b { font-weight:500; }
strong { font-weight:600; }
.displaynone { display:none !important; }

.layout_fix { width:1280px; padding:0 20px; margin:0 auto; position:relative; }
@media(max-width:991px){  .layout_fix { width:100%; min-width:320px; padding:0 24px; } }
[class^="onboarding__"] .layout_fix { width:100%; max-width:400px; padding:0; }

#contents { min-height:680px; padding-top:150px; }
#main #contents { padding-top:175px; }
@media(max-width:991px){ #main #contents { padding-top:150px; } }
@media(max-width:767px){ #main #contents { padding-top:72px; } }
#container #contents { padding-top:230px; padding-bottom:100px; }
#container #contents.zero { padding-top:150px; padding-bottom:0; }
@media(max-width:767px){ #container #contents { min-height:420px; padding-top:120px; padding-bottom:66px; } }

.pagination { margin-top:60px; display:flex; align-items:center; justify-content:center; gap:24px; user-select:none; }
.pagination span { cursor:pointer; }
.pagination span.disabled { visibility:hidden; cursor:default; }
.pagination ol > li { padding:0 8px; margin:0 8px; color:var(--main-color3); display:inline-block; cursor:pointer; }
.pagination ol > li.active { font-weight:600; color:var(--main-color2); }
@media(max-width:767px){ .pagination{gap:16px; white-space:nowrap;} .pagination ol > li{margin:0 6px;} }

/* ===== COMPONENT - FLEX */
.flex_items { display:flex; align-items:center; }
.flex_items.justify { justify-content:space-between; }
.flex_items > input,.flex_items > select { margin:0 8px; flex:0 1 auto; }
.flex_items > :first-child { margin-left:0; }
.flex_items > :last-child { margin-right:0; }
.flex_items:not(.txt) :nth-child(even) { margin:0; }

/* ===== COMPONENT - INPUT */
.chk_bx ~ .chk_bx { margin-left:12px; }
.chk_bx input[type="checkbox"] + .chk_txt  { display:flex; align-items:center; gap:8px; user-select:none; }
.chk_bx input[type="checkbox"] + .chk_txt span { line-height:1; color:var(--main-color3); vertical-align:middle; display:inline-block; }

.chk_bx input[type="checkbox"] + .chk_txt .chk { width:16px; height:16px; background:transparent url("/images/chk_off.png") no-repeat center/contain; border-radius:4px; display:inline-block; cursor:pointer; }
.chk_bx input[type="checkbox"]:checked + .chk_txt .chk { background:transparent url("/images/chk_on.png") no-repeat center/contain; }
.chk_bx input[type="checkbox"]:checked + .chk_txt .txt { line-height:16px; color:var(--main-color2); }
@media (max-width:767px){ .chk_cont { display:flex; flex-wrap:wrap; }
  .chk_cont > .chk_bx { padding-left:8px; margin:0 0 16px -8px; flex:1 0 50%; }
  .chk_cont > .chk_bx:nth-last-child(-n+2) { margin-bottom:0; }
}

.tab_radio { border-radius:4px; overflow:hidden; display:flex; }
.tab_radio input[type="radio"] + label { height:48px; padding:0 20px; line-height:46px; text-align:center; background-color:#fff; color:var(--main-color3); border-top:1px solid var(--br-color); border-bottom:1px solid var(--br-color); flex:1; cursor:pointer; }
.tab_radio input[type="radio"] + label ~ label { border-left:1px solid var(--br-color); }
.tab_radio input[type="radio"] + label:first-of-type { border-top-left-radius:4px; border-bottom-left-radius:4px; border-left:1px solid var(--br-color); }
.tab_radio input[type="radio"] + label:last-of-type { border-top-right-radius:4px; border-bottom-right-radius:4px; border-right:1px solid var(--br-color); }
.tab_radio input[type="radio"]:checked + label { background-color:#fff; color:var(--main-color2); border:1px solid var(--main-color2); }

/* ===== COMPONENT - LIST */
[class^="badge"] { padding:8px 16px; line-height:1; margin-bottom:16px; font-size:14px; font-weight:500; color:var(--main-color3); border:1px solid var(--br-color); border-radius:50px; display:inline-block; }
@media(max-width:767px){ [class^="badge"]{ font-size:12px; } }
[class^="badge"] + [class^="badge"] { margin-left:6px; }
[class^="badge"].ing { background-color:rgba(255,224,1,.5); color:var(--main-color2); border-color:var(--yw-color); }
[class^="badge"].end { background-color:var(--br-color); }
.inp_list li + li { margin-top:16px; }
.inp_list li .flex_items { padding-bottom:4px; }
.inp_list ~ .flex_items { margin-top:12px; }
.inp_list li > .tit { margin-bottom:8px; font-size:15px; color:var(--main-color2); }
.inp_list li > .tit ~ p { margin-top:4px; font-size:13px; color:var(--gr-color); }
.inp_list li > .tit ~ p.error { color:var(--red-color); }
.error { margin-top:4px; font-size:13px; color:var(--red-color); }
.inp_list li > .flex_items + p { margin-top:2px; }
.inp_list li > .tit.required::after { content:"*"; font-size:16px; font-weight:600; color:var(--red-color); position:relative; right:-4px; display:inline-block; }
.inp_list li .addr .flex_items { max-width:256px; padding:0; }
.inp_list .btn_check, .inp_list li .addr .flex_items [class^="btn_"] { min-width:88px; line-height:48px; text-align:center; background-color:var(--main-color3); color:var(--wt-color); border:1px solid var(--main-color3); border-radius:4px; }
.inp_list li .addr .flex_items ~ input { margin-top:8px; }

/* ===== COMPONENT - TABLE */
form .tb_item ~ .tb_item { margin-top:40px; }
form .tb_item h3.tit { margin-bottom:20px; font-size:18px; font-weight:500; }
form .tb_item h3.tit .btn_pop{ width:20px; height:20px; background:transparent url("/images/icon-q.png")no-repeat center/contain; font-size:0; text-indent:-9999px; transform:translate(8px, 4px); vertical-align:top; }
form .tb_item h3.tit .btn_pop.active { opacity:.5; filter:grayscale(1); }

/* ===== COMPONENT - BUTTON */
.btn_wrap { margin-top:32px; display:flex; }
.btn_wrap.column { flex-direction:column; flex-wrap:wrap; }
.btn_wrap a, .btn_wrap button { padding:12px 6px 13px; text-align:center; border:1px solid var(--main-color1); border-radius:4px; flex:1; }
.btn_wrap .btn_dark { background-color:var(--main-color1); color:#fff; }
.btn_wrap .btn_light { background-color:#fff; font-weight:500; color:var(--main-color1); }
.btn_wrap .btn_basic { background-color:#fff; font-weight:500; color:var(--main-color2); border:1px solid var(--br-color); }
.btn_wrap:not(.column) a ~ a, .btn_wrap:not(.column) button ~ a, .btn_wrap:not(.column) button ~ button { margin-left:8px; }
.btn_wrap.column a ~ a, .btn_wrap.column button ~ a, .btn_wrap.column button ~ button { margin-top:12px; }

/* ===== COMPONENT - TITLE */
.heading h2.tit { line-height:1; font-size:26px; font-weight:500; color:var(--main-color2); }
.heading h2.tit + .desc { margin-top:12px; font-size:14px; color:var(--main-color3); }
@media (max-width:767px) { .heading h2.tit { font-size:22px; } }

/* ===== COMPONENT - MODAL */
[class^="modal_"] { padding:24px; background-color:var(--wt-color); position:absolute; z-index:1; border:1px solid var(--br-color); border-radius:6px; display:none; }
[class^="modal_"] > .tit { font-size:14px; font-weight:500; }
[class^="modal_"] .bg_bx { padding:12px 16px; margin-top:12px; line-height:1.52; background-color:var(--bg-color); font-size:13px; color:var(--main-color3); border-radius:6px; }
[class^="modal_"] [class*="_bx"] ~ [class*="_bx"] { margin-top:16px; }
[class^="modal_"] .txt_bx .txt { margin-top:4px; line-height:1.48; font-size:13px; color:var(--main-color3); }

/* ===== SWIPER */
.slick-slider { position:relative; }
.slick-arrow { font-size:0; background-color:transparent; background-repeat:no-repeat; background-size:contain; text-indent:-9999px; }
.slick-dots { height:20px; margin-top:16px; text-align:center; display:flex !important; justify-content:center; }
.slick-dots > li { margin:0 5px; }
.slick-dots > li button { width:8px; height:8px; margin-top:10px; background:var(--main-color1); font-size:0; opacity:0.3; transition:0.25s cubic-bezier(0.25, 1, 0.5, 1); border-radius:50px; display:block; }
.slick-dots > li.slick-active button { opacity:1; }
.slick-dots > li:hover button { transform:scale(1.2); }


/* ===== OTHER */
::selection { background-color:var(--yw-color); color:var(--main-color1); }
::-webkit-scrollbar { width:12px; height:12px; border-radius:6px; background-color:transparent; }
::-webkit-scrollbar-button { display:none; }
::-webkit-scrollbar-track { width:12px; height:12px; background-color:transparent; }
::-webkit-scrollbar-corner { width:12px; border-radius:50%; background-color:transparent; }
::-webkit-scrollbar-thumb { border-radius:6px; background-color:#d9d9d9; }
:not(body)::-webkit-scrollbar { width:6px; height:6px; border-radius:0; background-color:transparent; }
:not(body)::-webkit-scrollbar-button { display:none; }
:not(body)::-webkit-scrollbar-track { width:6px; height:6px; background-color:transparent; }
:not(body)::-webkit-scrollbar-corner { width:6px; border-radius:50%; background-color:transparent; }
:not(body)::-webkit-scrollbar-thumb { border-radius:6px; background-color:#d9d9d9; }


@media (min-width:768px){ .mo{ display:none; } }
@media (max-width:767px) {
  .pc { display:none !important; }
  .mo { display:block !important; }
}